configuration {
    modi:               "drun,run,window";
    show-icons:         true;
    display-drun:       "Apps";
    display-run:        "Run";
    display-window:     "Windows";
    drun-display-format: "{name}";
    font:               "Ubuntu Mono 13";
    sort:               true;
    sorting-method:     "fzf";
}

@theme "~/.config/rofi/themes/theme.rasi"
